//
// Variables
// --------------------------------------------------

$icon-size: 48px;

$pale-green: #96F3CA;
$green: #29A49C;
$blue: #1E6B83;
$blue-darker: #21404C;
$gray-darker: #101112;
$yellow: #FEAD39;
