// tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .home {
    @apply h-screen grid grid-cols-3;
    grid-template-areas:
      "me twitter spotify"
      "github github linkedin"
      "tmdb instagram about";
  }

  // Cards
  .card {
    @apply relative flex justify-center items-center;

    &-me {
      @apply bg-red-pixine;
      grid-area: me;
    }

    &-twitter {
      @apply bg-blue-twitter;
      grid-area: twitter;
    }

    &-spotify {
      @apply bg-green-spotify;
      grid-area: spotify;
    }

    &-github {
      @apply bg-gray-900 col-span-2;
      grid-area: github;
    }

    &-linkedin {
      @apply bg-blue-linkedin;
      grid-area: linkedin;
    }

    &-tmdb {
      @apply bg-yellow-imdb;
      grid-area: tmdb;
    }

    &-instagram {
      @apply bg-red-instagram;
      grid-area: instagram;
    }

    &-about {
      @apply bg-purple-700;
      grid-area: about;
    }
  }

  // Repositories
  .repo {
    @apply flex;

    &-title {
      @apply block text-lg leading-6 font-semibold text-gray-900 mb-2;
    }

    &-language {
      @apply flex items-center mt-2;

      &-puce {
        @apply rounded-full w-4 h-4 mr-1;
      }
    }
  }

  // Links
  .stretched-link::after {
    @apply absolute inset-0 z-1;
    content: "";
  }

  // Icons
  .icon {
    @apply fill-current text-white;

    &-lg {
      @apply w-32 h-32;
    }
  }
}
